<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Fetcher</title>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="#" onclick="loadImage('image1')">Option 1</a>
            <a href="#" onclick="loadImage('image2')">Option 2</a>
            <a href="#" onclick="loadImage('image3')">Option 3</a>
        </div>
    </div>
    <div style="position: relative;">
        <img id="cameraImage" src="{{ url_for('static', filename='camera.jpg') }}" alt="Camera Image" />
        <!-- Coordinates display -->
    </div>



    <script>
        function loadImage(name) {
            fetch(`/get_image?name=${name}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.blob();
                })
                .then(blob => {
                    document.getElementById('cameraImage').src = URL.createObjectURL(blob);
                })
                .catch(error => console.error('Error fetching image:', error));
        }
    </script>
</body>
</html>



















